##########################################################
#
# Default values for creating a Couchbase cluster on AWS.
#
##########################################################

variable "host_name_prefix" {
  description = "Prefix for node names"
  default     = "HOST_NAME_PREFIX"
  type        = string
}

variable "gen_name_prefix" {
  description = "Prefix for generator nodes"
  default     = "GEN_NAME_PREFIX"
  type        = string
}

variable "sw_version" {
  description = "Software version (for yum install)"
  default     = "SW_VERSION"
  type        = string
}

variable "region_name" {
  description = "Region name"
  default     = "REGION_NAME"
  type        = string
}

variable "instance_type" {
  description = "Instance type"
  default     = "INSTANCE_TYPE"
  type        = string
}

variable "gen_instance_type" {
  description = "Generator node instance type"
  default     = "GEN_INSTANCE_TYPE"
  type        = string
}

variable "num_instances" {
  description = "Number of instances in the cluster"
  default     = "NUM_INSTANCES"
  type        = string
}

variable "gen_instances" {
  description = "Number of load generator nodes"
  default     = "GEN_INSTANCES"
  type        = string
}

variable "start_num" {
  description = "Starting host number for instances in the cluster"
  default     = "START_NUM"
  type        = string
}

variable "gen_start_num" {
  description = "Starting host number for generator nodes"
  default     = "GEN_START_NUM"
  type        = string
}

variable "ssh_user" {
  description = "The default username for the AMI"
  type        = string
  default     = "SSH_USER"
}

variable "ssh_key" {
  description = "Key name to use"
  default     = "SSH_KEY"
  type        = string
}

variable "ssh_private_key" {
  description = "The private key to use when connecting to the instances"
  default     = "SSH_PRIVATE_KEY"
  type        = string
}

variable "subnet_ids" {
  description = "List of subnets to launch the instances in"
  default     = ["SUBNET_IDS"]
  type        = list(string)
}

variable "vpc_id" {
  description = "VPC Id"
  default     = "VPC_ID"
  type        = string
}

variable "security_group_ids" {
  description = "Security group to assign to the instances"
  default     = ["SECURITY_GROUP_IDS"]
  type        = list(string)
}

variable "root_volume_iops" {
  description = "IOPS (only for io1 volume type)"
  default     = "ROOT_VOLUME_IOPS"
  type        = string
}

variable "root_volume_size" {
  description = "The root volume size"
  default     = "ROOT_VOLUME_SIZE"
  type        = string
}

variable "root_volume_type" {
  description = "The root volume type"
  default     = "ROOT_VOLUME_TYPE"
  type        = string
}
